@import '../../styles/variables.module';
@import "../../styles/mixins.module";

.button {
  border-radius: 80px;
  background: #F4E041;
  border: none;
  min-width: 100px;
  min-height: 34px;
  @include textStyles(16, 26, $mainText);

  &:disabled {
    background-color: #B4B4B4;
    color: #FFFFFF;
    &:hover {
      background-color: gray;
    }
  }
  &:hover {
    background-color: #FFE302;
  }
}

.buttonBig {
  @extend .button;
  width: 120px;
}