@import '../../styles/variables.module';
@import "../../styles/mixins.module";

.title {
  @include textStyles(40, 40, $mainText);
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.form {
  position: relative;
  margin: 0 16px;
  & button {
    display: block;
    margin: 31px auto 100px;
  }
}

@media (min-width: $tablet) {
  .form {
    margin: 0 194px;
  }
}

@media (min-width: $desktop) {
  .form {
    margin: 0 322px;
  }
}

@media (min-width: $desktopMax) {
  .form {
    margin: 0 1090px 394px 1090px;
  }
}




